mainmenu "Test WiFi application"

menu "Test WiFi application"
    config SNTP
        depends on WIFI
        bool "Application SNTP Module activate"

    config WIFI
        bool "Application WiFi Module activate"
endmenu
