menu "Application SNTP Module"

    config URL
        depends on WIFI && SNTP
        string "SNTP Server URL"
        default "pool.ntp.org"


    module = SNTP
    module-str = SNTP
    rsource "../../main/Kconfig.log_level"

endmenu