menu "Application Wifi Module"

    config SSID
        depends on WIFI
        string "WiFi SSID to connect"
        default ""

    config PASSWORD
        depends on WIFI
        string "WiFi password to connect"
        default ""
        
    module = WIFI
    module-str = WIFI
    rsource "../../main/Kconfig.log_level"
endmenu